<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h1>Register</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-3">
            <form (submit)="onSubmit()">
                <div class="form-group">
                    <label for="exampleInputEmail1">
                        <h5>Username:</h5>
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="">
                        <h5>Password:</h5>
                    </label>
                    <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="">
                        <h5>Full Name:</h5>
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="First & Last Name">
                </div>
                <button (click)="onSubmit" type="submit" class="btn btn-danger">Sign-up</button>
            </form>
        </div>
    </div>
</div>