<br>
<div class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-3">
        <h3>Editor's <b>Choice</b></h3>
        <div class="form-group">
          <label for="">Enter an 'Editor's pick'</label>
          <input [(ngModel)]="restaurant" type="text" placeholder="Restaurant Name">
          <input [(ngModel)]="location" type="text" placeholder="Location">
        </div>
        <button (click)="sendInput()" type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
