<div>
    <app-navbar></app-navbar>
            <app-destination *ngFor="let destination of destinations" 
            [destination]="destination"
            (updateDestination)="updateDestination($event)"
            (deleteDestination)="deleteDestination($event)"
            ></app-destination>
            <button (click)="addDestination()">Add new Destination</button>
            <agm-map (mapClick)="onMapClick($event)">
                <agm-marker *ngFor="let destination of destinations" [(latitude)]="destination.destLat" [longitude]="destination.destLong"></agm-marker>
            </agm-map>
</div>