<div>
    <app-navbar2></app-navbar2>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <br>
                <button class="btn btn-danger" (click)="addDestination()">Add new Destination</button>
                <app-destination *ngFor="let destination of destinations" [destination]="destination"
                    (updateDestination)="updateDestination($event)" (deleteDestination)="deleteDestination($event)">
                </app-destination>
                <hr>
            </div>
            <div class="col-lg-6">
                <br>
                <agm-map [latitude]="38.959" [longitude]="-77.357" (mapClick)="onMapClick($event)">
                    <agm-marker *ngFor="let destination of destinations" [(latitude)]="destination.destLat"
                        [longitude]="destination.destLong"></agm-marker>
                </agm-map>
            </div>
        </div>
    </div>
</div>