<div class="container">
    <div class="acntcontainer">
        <div class="row acntheader">
            <header>Account Details</header>
        </div>
        <div class="row acntdetail">
            <b>Name:</b> <input type="text" [value]="name">
        </div>
        <div class="row acntdetail">
            <b>Username:</b>
        </div>
        <div class="row acntdetail">
            <b>Password:</b> <input type="text" [value]="password">
        </div>
        <div class="row acntdetail">
            <b>Email:</b> <input type="text" [value]="email">
        </div>
        <div class="row acntdetail">
            <button (click)="updateAccount()">Update Account</button>
        </div>
    </div>
</div>