.acntcontainer {
    border: grey 0.1em solid;
    padding: inherit;
    margin-left: 5%;
    margin-right: 45%;
    display: flow-root;
    width: 50%;
    height: fit-content;
}

.acntheader {
    border: black 0.1em solid;
    padding: inherit;
}

.acntdetail {
    padding: inherit;
}