<div class="container">
    <div class="acntcontainer">
        <div class="row acntheader">
            <header>Account Details</header>
        </div>
        <div class="row acntdetail">
            <b>Name:</b> {{name}}
        </div>
        <div class="row acntdetail">
            <b>Username:</b> {{username}}
        </div>
        <div class="row acntdetail">
            <b>Password:</b> {{password}}
        </div>
        <div class="row acntdetail">
            <b>Email:</b> {{email}}
        </div>
        <div class="row acntdetail">
            <button>Update Account</button>
        </div>
    </div>
</div>