<div class="container">
    <div class="acntcontainer">
        <div class="row acntheader">
            <header>Account Details</header>
        </div>
        <div class="row acntdetail">
            <b>Username:</b>
        </div>
        <div class="row acntdetail">
            <b>Password:</b>
        </div>
        <div class="row acntdetail">
            <b>Email:</b>
        </div>
        <div class="row acntdetail">
            <button>Update Account</button>
        </div>
    </div>
</div>