<app-navbar2></app-navbar2>
<div class="text-center">
    <h1>Bread and Board Reviews</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <h3>Rating:</h3>
            <label class="container">1
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>

            <label class="container">2
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>

            <label class="container">3
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>

            <label class="container">4
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">5
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <textarea rows="4" cols="50" placeholder="Your Review"></textarea>
            <button type="submit" class="btn btn-danger">Submit</button>
        </div>
        <div class="col-sm-6">
            <h3>Reviews on Your Trip</h3>
        </div>
    </div>
</div>
